
<ion-view class="cust-form-content" >
  <ion-header-bar class="header cust-header" align-title="left" >
    <div class="buttons">
      <div class="buttons cust-button-back"> <a class="button ion-chevron-left" href="#/app/fiches"> Retour</a> </div>
    </div>
    <h1 class="title cust-header-back-title">Contrôle de l'étanchéité des terrasses </h1>
  </ion-header-bar>
  
   
  
  
  <ion-content class="has-header"  padding="false" ng-controller="MyCtrl" >
    <div class="box" >
      <div class="list" style="padding-bottom:50px;">
        <div class="item cust-item">
          <div class="cust-stacked-label"><span></span>
            <input class="" type="text" placeholder="Étaient présent">
          </div>
        </div>
        <div class="item cust-item">
          <div class="cust-stacked-label"><span></span>
            <input type="text" placeholder="Ouvrage Examiné">
          </div>
        </div>
        <div class="item cust-item">
          <div class="cust-stacked-label"><span></span>
            <input type="text" placeholder="Sondages Examinés">
          </div>
        </div>
        <div class="item section">Documents</div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}"> <i class="icon cust-inline ion-minus" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; La fiche de complexe est transmise au BCT </div>
          <div class="item item-accordion accordion-content" ng-show="isGroupShown(1)">
            <label class="item item-radio ng-empty ng-valid" ng-model="c0" ng-value="'A1'" value="A1">
            <input type="radio" name="radio-group1" ng-value="'A1'" ng-model="c0" class="ng-pristine ng-untouched ng-valid ng-empty" value="A1">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Oui</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid" ng-model="c0" ng-value="'B1'" value="B1">
            <input type="radio" name="radio-group1" ng-value="'B1'" ng-model="c0" class="ng-pristine ng-untouched ng-valid ng-empty" value="B1">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}"> <i class="icon cust-inline ion-plus" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Le complexe d'étanchéité est valide par BCT </div>
          <div class="item item-accordion accordion-content ng-hide" ng-show="isGroupShown(2)">
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group2" class="ng-pristine ng-untouched ng-valid ng-empty" value="A2">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Oui</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group2" class="ng-pristine ng-untouched ng-valid ng-empty" value="B2">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
        <div class="item section">Mise en Oeuvre</div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(11)" ng-class="{active: isGroupShown(11)}"> <i class="icon cust-inline ion-plus" ng-class="isGroupShown(11) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Forme de pente </div>
          <div class="item item-accordion accordion-content ng-hide" ng-show="isGroupShown(11)">
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group3" class="ng-pristine ng-untouched ng-valid ng-empty" value="A">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Conforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group3" class="ng-pristine ng-untouched ng-valid ng-empty" value="B">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non Comforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group3" class="ng-pristine ng-untouched ng-valid ng-empty" value="C">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Suspendu</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(12)" ng-class="{active: isGroupShown(12)}"> <i class="icon cust-inline ion-plus" ng-class="isGroupShown(12) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Membrane d'étanchéité </div>
          <div class="item item-accordion accordion-content ng-hide" ng-show="isGroupShown(12)">
            <label class="item item-radio ng-empty ng-valid" >
            <input type="radio" name="radio-group4" class="ng-pristine ng-untouched ng-valid ng-empty" value="A">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Conforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group4" class="ng-pristine ng-untouched ng-valid ng-empty" value="B">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non Comforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group4" class="ng-pristine ng-untouched ng-valid ng-empty" value="C">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Suspendu</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(13)" ng-class="{active: isGroupShown(13)}"> <i class="icon cust-inline ion-plus" ng-class="isGroupShown(13) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; l'equerre de renfort </div>
          <div class="item item-accordion accordion-content ng-hide" ng-show="isGroupShown(13)">
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group5" class="ng-pristine ng-untouched ng-valid ng-empty" value="A">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Conforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group5" class="ng-pristine ng-untouched ng-valid ng-empty" value="B">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non Comforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group5" class="ng-pristine ng-untouched ng-valid ng-empty" value="C">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Suspendu</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
        <div>
          <div class="item item-accordion accordion-header" ng-click="toggleGroup(14)" ng-class="{active: isGroupShown(14)}"> <i class="icon cust-inline ion-plus" ng-class="isGroupShown(14) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Traitement des gargouilles </div>
          <div class="item item-accordion accordion-content ng-hide" ng-show="isGroupShown(14)">
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group6" class="ng-pristine ng-untouched ng-valid ng-empty" value="A">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Conforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group6" class="ng-pristine ng-untouched ng-valid ng-empty" value="B">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Non Comforme</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
            <label class="item item-radio ng-empty ng-valid">
            <input type="radio" name="radio-group6" class="ng-pristine ng-untouched ng-valid ng-empty" value="C">
            <div class="radio-content">
              <div class="item-content disable-pointer-events" ng-transclude=""><span>Suspendu</span></div>
              <i class="radio-icon disable-pointer-events icon ion-checkmark"></i></div>
            </label>
          </div>
        </div>
     
<br />
<br />
<br />
<br />
<br />

      </div>
    </div>
  </ion-content>
</ion-view>
