
<ion-view class="cust-fiches-content" >
<ion-header-bar class="cust-header-dark" align-title="left">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="display:block !important;"></button>
  </div>
  <h1 class="title cust-header-menu-title">Fiches de CONTRÔLE!</h1>
  
</ion-header-bar>


  <ion-content  class="has-header"  >
    <div class="list">
      <a href="#/app/fiche_cet" class="item item-icon-right">
        <h1 class="cust-header-back-title" style="">CONTRÔLE DE L'ETANCHIETE DES TERRASSES</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </a>
      <div href="#/app/fiche_cdf" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES FONDATIONS</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
      <div href="#/app/fiche_cgo" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES GROS ŒUVRES</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
      <div href="#/app/fiche_cdl" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES LONGRINES</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
       <div href="#/app/fiche_cdp" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES PLANCHERS</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
      <div href="#/app/fiche_cdpo" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES POTEAUX</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
      <div href="#/app/fiche_cdr" class="item item-icon-right">
        <h1 class="option">CONTRÔLE DES RADIERS</h1>
        <p>description</p>
        <i  class="icon ion-chevron-right"></i> </div>
        
        
        
        
        
    </div>
  </ion-content>
</ion-view>
