
<ion-view view-title="Fiche" class="cust-form-content" >
  <ion-nav-buttons side="left" >
    <div class="buttons cust-button-back"> <a class="button ion-chevron-left" href="#/app/fiches"> Back</a> </div>
  </ion-nav-buttons>
  <ion-content   padding="true" style="height:100%">
    <h1 class="cust-form-title">CONTRÔLE DE L'ETANCHIETE DES TERRASSES</h1>
    <div class="list" style="margin-bottom:50px;">
      <div class="item item-divider item-text-wrap">
        <h1 class="title">amenagement boutique KOONàSOCCO ALTO</h1>
      </div>
      <div class="item" style="padding:0px">
        <div class="row">
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">N° Dossier</p>
            <p class="cust-stacked-c-text">AF1605021116</p>
          </div>
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">Version</p>
            <p class="cust-stacked-c-text">1/2014</p>
          </div>
        </div>
      </div>
      <div class="item" style="padding:0px">
        <div class="row">
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">N° Dossier</p>
            <p class="cust-stacked-c-text">3636265</p>
          </div>
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">Date de visite</p>
            <p class="cust-stacked-c-text">14/08/2016</p>
          </div>
        </div>
      </div>
      <div class="item" style="text-align:center; padding:5px;">
        <p class="cust-stacked-c-title">Intervenant</p>
        <p class="cust-stacked-c-text-large">NQAIRI REDOUANE</p>
      </div>
      <div class="item" style="text-align:center; padding:5px;">
        <p class="cust-stacked-c-title">pilote</p>
        <p class="cust-stacked-c-text-large">NQAIRI REDOUANE</p>
      </div>
      <div class="item " style="padding:5px 0px 5px 0px; max-width:100%">
        <div class="row">
          <div style="text-align:center; width:100%">
            <input id="cal1" type="radio" name="cal" value="1">
            <label for="cal1"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Conforme</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal2" type="radio" name="cal" value="2">
            <label for="cal2"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Non Comforme</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal3" type="radio" name="cal" value="2">
            <label for="cal3"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Suspendu</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Étaient présent">
        </div>
      </div>
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Ouvrage Examiné">
        </div>
      </div>
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Sondages Examinés">
        </div>
      </div>
      <div class="item section">Documents</div>
      <div class="item" style="text-align:center; max-width:100%">
        <p class="cust-stacked-c-title" style="text-align:left;">La fiche de complexe est transmise au BCT</p>
        <input id="radio4" type="radio" name="radio2" value="1">
        <label for="radio4"><span><span></span></span>OUI</label>
        <input id="radio5" type="radio" name="radio2" value="1">
        <label for="radio5"><span><span></span></span>NON</label>
        <p class="cust-stacked-c-title" style="text-align:left;">Le complexe d'étanchéité est valide par BCT</p>
        <input id="radio4" type="radio" name="radio2" value="1">
        <label for="radio4"><span><span></span></span>OUI</label>
        <input id="radio5" type="radio" name="radio2" value="1">
        <label for="radio5"><span><span></span></span>NON</label>
        <p class="cust-stacked-c-text">Si NON l'Entreprise n'a pas le droit de couler</p>
      </div>
      <div class="item section">Mise en Oeuvre</div>
      <div class="item  item-text-wrap" style="padding:10px 0px 10px 0px; max-width:100%">
      <div class="row">
          <div class="col-33"></div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">C</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">NC</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Su</div>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Forme de pente</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="fp1" type="radio" name="fp" value="1">
            <label for="fp1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="fp2" type="radio" name="fp" value="2">
            <label for="fp2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="fp3" type="radio" name="fp" value="2">
            <label for="fp3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Membrane d'étanchéité</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="me1" type="radio" name="me" value="1">
            <label for="me1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="me2" type="radio" name="me" value="2">
            <label for="me2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="me3" type="radio" name="me" value="2">
            <label for="me3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>l'equerre de renfort</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="er1" type="radio" name="er" value="1">
            <label for="er1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="er2" type="radio" name="er" value="2">
            <label for="er2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="er3" type="radio" name="er" value="2">
            <label for="er3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Traitement des gargouilles</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tg1" type="radio" name="tg" value="1">
            <label for="tg1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tg2" type="radio" name="tg" value="2">
            <label for="tg2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tg3" type="radio" name="tg" value="2">
            <label for="tg3"><span><span></span></span></label>
          </div>
        </div>
        
      </div>
      <div class="item section">Avis</div>
      <div class="item" style="padding:10px 0px 10px 0px; max-width:100%">
        <div>
          <input id="avis1" type="radio" name="avis" value="1">
          <label for="avis1"><span><span></span></span>Accord pour entamer les travaux de protection mécanique</label>
        </div>
        <div>
          <input id="avis2" type="radio" name="avis" value="1">
          <label for="avis2"><span><span></span></span>Accord pour entamer les travaux de protection mécanique après lever les réserves</label>
        </div>
        <div>
          <input id="avis3" type="radio" name="avis" value="1">
          <label for="avis3"><span><span></span></span>Interdit d'entamer les travaux de protection mécanique</label>
        </div>
      </div>
      <div class="item section">Remarques</div>
      <div class="item item-text-wrap">
        <textarea rows="4" style="width:100%;  resize: vertical;">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
</textarea>
      </div>
      <div class="item">
       <button class="button button-block cust-button-block">
 Enregistrer
</button>
      </div>
    </div>
  </ion-content>
</ion-view>
