
<ion-view title="Fiches de contrôle">
  <ion-nav-buttons>
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="font-size:10px;"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item href="#/app/fiche_cet" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DE L'ETANCHIETE DES TERRASSES</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
      <ion-item href="#/app/fiche_cdf" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES FONDATIONS</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
      <ion-item href="#/app/fiche_cgo" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES GROS ŒUVRES</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
      <ion-item href="#/app/fiche_cdl" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES LONGRINES</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
       <ion-item href="#/app/fiche_cdp" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES PLANCHERS</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
      <ion-item href="#/app/fiche_cdpo" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES POTEAUX</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
      <ion-item href="#/app/fiche_cdr" class="item-icon-right item-text-wrap">
        <h3>CONTRÔLE DES RADIERS</h3>
        <p>description</p>
        <i style="color : #CCC !important; font-size:1.2em" class="icon ion-chevron-right"></i> </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
