
<ion-view view-title="Fiche" class="cust-form-content" >
  <ion-nav-buttons side="left" >
    <div class="buttons cust-button-back"> <a class="button ion-chevron-left" href="#/app/fiches"> Back</a> </div>
  </ion-nav-buttons>
  <ion-content   padding="true" style="height:100%">
    <h1 class="cust-form-title">CONTRÔLE DES LONGRINES</h1>
    <div class="list" style="padding-bottom:50px" >
      <div class="item item-divider item-text-wrap">
        <h1 class="title">amenagement boutique KOONàSOCCO ALTO</h1>
      </div>
      <div class="item" style="padding:0px">
        <div class="row">
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">N° Dossier</p>
            <p class="cust-stacked-c-text">AF1605021116</p>
          </div>
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">Version</p>
            <p class="cust-stacked-c-text">1/2014</p>
          </div>
        </div>
      </div>
      <div class="item" style="padding:0px">
        <div class="row">
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">N° Dossier</p>
            <p class="cust-stacked-c-text">3636265</p>
          </div>
          <div class="col-50" style="text-align:center">
            <p class="cust-stacked-c-title">Date de visite</p>
            <p class="cust-stacked-c-text">14/08/2016</p>
          </div>
        </div>
      </div>
        <div class="item" style="text-align:center; padding:5px;">
        
        <p class="cust-stacked-c-title">Intervenant</p>
           <p class="cust-stacked-c-text-large">NQAIRI REDOUANE</p>
           
            </div>
            <div class="item" style="text-align:center; padding:5px;">	
            
           <p class="cust-stacked-c-title">pilote</p>
           <p class="cust-stacked-c-text-large">NQAIRI REDOUANE</p>
        
      </div>
      
      <div class="item " style="padding:5px 0px 5px 0px; max-width:100%">
        <div class="row">
          
          <div style="text-align:center; width:100%">
            <input id="cal1" type="radio" name="cal" value="1">
            <label for="cal1"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Conforme</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal2" type="radio" name="cal" value="2">
            <label for="cal2"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Non Comforme</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal3" type="radio" name="cal" value="2">
            <label for="cal3"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Suspendu</div>
          </div>
        </div>
      </div>
      
      
      
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Étaient présent">
        </div>
      </div>
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Ouvrage Examiné">
        </div>
      </div>
      
      <div class="item">
        <div class="cust-stacked-label"><span></span>
          <input type="text" placeholder="Sondages Examinés">
        </div>
      </div>
      
      <div class="item section">Documents</div>
      <div class="item" style="text-align:center; max-width:100%">
        <p class="cust-stacked-c-title" style="text-align:left;">Les plans béton armén visé par bureau de contrôle</p>
        <input id="radio4" type="radio" name="radio2" value="1">
        <label for="radio4"><span><span></span></span>OUI</label>
        <input id="radio5" type="radio" name="radio2" value="1">
        <label for="radio5"><span><span></span></span>NON</label>
        <p class="cust-stacked-c-text">Si NON l'Entreprise n'a pas le droit de couler</p>
      </div>
      <div class="item section">Ferraillages</div>
      <div class="item  item-text-wrap" style="padding:10px 0px 10px 0px; max-width:100%">
      <div class="row">
          <div class="col-33"></div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">C</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">NC</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Su</div>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Espacement des cadres</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="radio1" type="radio" name="esp" value="1">
            <label for="radio1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="radio2" type="radio" name="esp" value="2">
            <label for="radio2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="radio3" type="radio" name="esp" value="2">
            <label for="radio3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Dressement des cadres</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ni1" type="radio" name="ni" value="1">
            <label for="ni1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ni2" type="radio" name="ni" value="2">
            <label for="ni2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ni3" type="radio" name="ni" value="2">
            <label for="ni3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Nombre des barres</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ns1" type="radio" name="ns" value="1">
            <label for="ns1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ns2" type="radio" name="ns" value="2">
            <label for="ns2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ns3" type="radio" name="ns" value="2">
            <label for="ns3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Nuances d'acier</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren1" type="radio" name="ren" value="1">
            <label for="ren1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren2" type="radio" name="ren" value="2">
            <label for="ren2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren3" type="radio" name="ren" value="2">
            <label for="ren3"><span><span></span></span></label>
          </div>
        </div>
        
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Coudes</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren1" type="radio" name="ren" value="1">
            <label for="ren1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren2" type="radio" name="ren" value="2">
            <label for="ren2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="ren3" type="radio" name="ren" value="2">
            <label for="ren3"><span><span></span></span></label>
          </div>
        </div>
        
      </div>
      <div class="item section">Coffrage</div>
      <div class="item item-text-wrap" style="padding:10px 0px 10px 0px; max-width:100%; word-wrap:normal">
      <div class="row">
          <div class="col-33"></div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">C</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">NC</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Su</div>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Dimensionnement</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="dim1" type="radio" name="dim" value="1">
            <label for="dim1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="dim2" type="radio" name="dim" value="2">
            <label for="dim2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="dim3" type="radio" name="dim" value="2">
            <label for="dim3"><span><span></span></span></label>
          </div>
        </div>
        <div class="row">
          <div class="col-33"></div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Bonne</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Moyenne</div>
          </div>
          <div style="text-align:center; width:100%">
            <div class="cust-stacked-c-text">Médiocre</div>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label for="radio1"><span><span></span></span>Qualité du coffrage</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tre1" type="radio" name="tre" value="1">
            <label for="tre1"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tre2" type="radio" name="tre" value="2">
            <label for="tre2"><span><span></span></span></label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="tre3" type="radio" name="tre" value="2">
            <label for="tre3"><span><span></span></span></label>
          </div>
        </div>
        
      </div>
     
      
      <div class="item section">Enrobage</div>
      <div class="item  item-text-wrap" style="padding:10px 0px 10px 0px; max-width:100%">
        <div class="row">
          <div class="col-20">
            <label for="radio1"><span><span></span></span>Les cales</label>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal1" type="radio" name="cal" value="1">
            <label for="cal1"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Existant</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal2" type="radio" name="cal" value="2">
            <label for="cal2"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Suffisant</div>
          </div>
          <div style="text-align:center; width:100%">
            <input id="cal3" type="radio" name="cal" value="2">
            <label for="cal3"><span><span></span></span></label>
            <div class="cust-stacked-c-text">Insuffisant</div>
          </div>
        </div>
      </div>
      <div class="item section">Avis</div>
      <div class="item" style="padding:10px 0px 10px 0px; max-width:100%">
        <div>
          <input id="avis1" type="radio" name="avis" value="1">
          <label for="avis1"><span><span></span></span>Accord pour coulage</label>
        </div>
        <div>
          <input id="avis2" type="radio" name="avis" value="1">
          <label for="avis2"><span><span></span></span>Accord pour coulage après lever les réserves</label>
        </div>
        <div>
          <input id="avis3" type="radio" name="avis" value="1">
          <label for="avis3"><span><span></span></span>Interdit de coulage</label>
        </div>
      </div>
      <div class="item section">Laboratoire</div>
      
      <div class="item item-text-wrap">
        <p class="cust-stacked-c-text">Faire appel au laboratoire pour effectuer les prélèvem ents du béton et nous transm ettre les résultats des essais d'écrasem ent pour exam en et avis</p>
      </div>
      
      
      <div class="item section">Remarques</div>
      
      <div class="item item-text-wrap">
                 <textarea rows="4" class="cust-textarea" >

</textarea>
        </div>
        
        <div class="item">
       <button class="button button-block cust-button-block">
 Enregistrer
</button>
      </div>
        
      </div>
      
   
    
  </ion-content>
</ion-view>
