<ion-view view-title="Détails" class="cust-details-content ">


  <ion-header-bar class="header cust-header" align-title="left" >
    <div class="buttons">
      <div class="buttons cust-button-back"> <a class="button ion-chevron-left" href="#/app/projects"> Retour</a> </div>
    </div>
    <h1 class="title cust-header-back-title">Détails</h1>
  </ion-header-bar>

  
  <ion-content class="has-header"  padding="true" scroll="true">
    <div class="list card cust-details-list" >
      <div class="item item-avatar-right cust-resp" > <img src="../../img/mike.png">
        <p>Chef de projet</p>
        <h2>NQAIRI REDOUANE</h2>
      </div>
    </div>
    <div class="list cust-details-list" >
      <div class="item ref">AF1605021116</div>
      <div class="cust-h1-container">
        <h1 class="nom">CONTROLE DES TRAVAUX D'AMENAGEMENT DE LA PISTE D'EDUCATION A LA SECURITE ROUTIERE ET DE CONSTRUCTION DES BATIMENTS ANNEXES</h1>
      </div>
      <h2 class="client">COMITE NATIONAL DE PREVENTION DES ACCIDENTS DE LA CIRCULATION</h2>
      <div class="item budget">Budget : 10000.00 DH</div>
      <div class="delais">
        <div class="row">
          <div class="col"><span class="title">Date de debut du projet</span> 13/05/2016</div>
          <div class="col"><span class="title">Date de fin du projet</span> 13/05/2017</div>
        </div>
        <div class="row">
          <div class="col"><span class="title">Durée du projet</span> 12 mois</div>
          <div class="col" style="text-align:center">
            <circular-slider 
      class='my-slider'
      radius='25'
      shape='Circle'
      touch="true"
      animate='true'
      on-slide='onSlide'
      on-slide-end='onSlideEnd'
      min="min"
      max="200"
      value="20"> -11 </circular-slider>
          </div>
        </div>
      </div>
      <div class="adresse">
        <p class="item-icon ion-location"></p>
        <div class="loc">
          <p class="ville">MAARIF - CASABLANCA</p>
          <p class="adr">Content for New Div Tag Goes Here Content for New Div Tag Goes Here</p>
        </div>
      </div>
    </div>
    <div class="card cust-details-list" >
      <div class="item item-divider"> Collaborateur </div>
      <div class="item item-avatar cust-collab-avatar"> <img src="../../img/max.png">
        <h2>BENNAN MOHAMED</h2>
      </div>
      <div class="item item-avatar cust-collab-avatar"> <img src="../../img/perry.png">
        <h2 >ABDELMOUNAIM ALMAGHRAOUI</h2>
      </div>
    </div>
    <div class="card cust-details-list" >
      <div class="item item-divider"> Participant </div>
      <div class="item item-text-wrap">
        <p>RISK CONTROL sarl</p>
        <p>RCO MAROC sarl</p>
        <p>BATIDIOR</p>
      </div>
    </div>
  </ion-content>
</ion-view>
