<ion-view view-title="Détails">
  <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7">
    <div class="buttons">
      <button class="button ion-chevron-left" ng-click="goBack()"> Back</button>
    </div>
    <h1 class="title">Détails</h1>

  </ion-header-bar>
  <ion-content class="has-header">

   <h3> A0234TRAVAUX D'AGENCEMENT ET D'AMENAGEMENT DES LOCAUX DE LA CNSS</h3>
    <p><span class="ion-location"> MAARIF - CASABLANCA</span></p>
    <p><span class="ion-cash">Budget: 10000.00 DH</span></p>
    <p><span class="ion-android-happy"> Client: SIGMA TECHNIQUE D'ETANCHEITE</span></p>
    <p>Date de debut du projet:  13/05/2016</p>
    <p>Date de fin du projet: 13/05/2017<p>
    <p>Durée du projet: 12 mois</p>
    <p><circular-slider
      class='my-slider'
      radius='25'
      shape='Circle'
      touch="true"
      animate='true'
      on-slide='onSlide'
      on-slide-end='onSlideEnd'
      min="min"
      max="200"
      value="20">
      -11
    </circular-slider></p>
    <div class="user margin-right" style="background-image:url('img/ben.png')"></div>
    <p>NQUERI REDOUANE : <small>Chef de projet</small></p>
    <p><h1>Collaborateur :</h1></p>
    <p><div class="user margin-right" style="background-image:url('img/mike.png')"></div> BENNAN MOHAMED</p>
    <p><div class="user margin-right" style="background-image:url('img/max.png')"></div> ABDELMOUNAIM ALMAGHRAOUI</p>
    <p><h1>Participant :</h1></p>
    <p>RISK CONTROL sarl</p>
    <p>RCO MAROC sarl</p>
    <p>BATIDIOR</p>


  </ion-content>
</ion-view>
