<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">New Contact</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Annuler</button>
    </ion-header-bar>

  </ion-header-bar>
  <ion-content class="has-header">
    <h2>A0229 CONSTRUCTION IMM S/SO - Visite chantier</h2>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input  type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input  type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input  type="text">
      </label>
      <button class="button button-full button-positive" ng-click="">Créer</button>
    </div>
  </ion-content>
</ion-modal-view>
