<ion-view view-title="About">
  <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7">
    <div class="buttons">
      <button class="button ion-chevron-left" ng-click="goBack()"> Back</button>
    </div>
    <h1 class="title">Visites Chantier</h1>

  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">

      <a class="item" href="#/project/visit" ng-click="go()">
        <div class="user margin-right" style="background-image:url('img/ben.png')"></div>
        <div class="item-center">
          <h2>CONTRÔLE DES FONDATIONS</h2>
          <p>FONDATIONS IMM C</p>
          <span class="item-user">par Mohamed BENNAN</span>
        </div>
        <div class="item-right">
          <span class="label label-danger">Cloturé</span>
          <span class="date">15/04/2016</span>
        </div>
      </a>

      <a class="item" ui-sref="project.visit">
        <div class="user margin-right" style="background-image:url('img/ben.png')"></div>
        <div class="item-center">
          <h2>CONTRÔLE DES FONDATIONS</h2>
          <p>FONDATIONS IMM C</p>
          <span class="item-user">par Mohamed BENNAN</span>
        </div>
        <div class="item-right">
          <span class="label label-danger">Cloturé</span>
          <span class="date">15/04/2016</span>
        </div>
      </a>

      <a class="item" ui-sref="project.visit">
        <div class="user margin-right" style="background-image:url('img/ben.png')"></div>
        <div class="item-center">
          <h2>CONTRÔLE DES FONDATIONS</h2>
          <p>FONDATIONS IMM C</p>
          <span class="item-user">par Mohamed BENNAN</span>
        </div>
        <div class="item-right">
          <span class="label label-danger">Cloturé</span>
          <span class="date">15/04/2016</span>
        </div>
      </a>

    </div>
    <nav mfb-menu position="br" effect="zoomin" label="hover here"
         active-icon="ion-edit" resting-icon="ion-plus-round"
         toggling-method="click">
      <button mfb-button icon="paper-airplane" label="menu item"></button>
    </nav>
  </ion-content>

</ion-view>

