<ion-view view-title="Visites Chantier" class="cust-header">

  <ion-header-bar class="bar-stable nav-title-slide-ios7">
    <div class="buttons cust-button-back">
      <button class="button ion-chevron-left" ng-click="goBack()"> Back</button>
    </div>
    <h1 class="title">Visites Chantier</h1>
  </ion-header-bar>
  
  
  <ion-content class="has-header">
  

<div class="list cust-visites-list" > 
   

 <a class="item item-icon-right" ui-sref="project.visit">
     
  <div class="status-1">
        <h2 class="activite">CONTRÔLE DES FONDATIONS </h2>
        <p class="desc">FONDATIONS IMM C</p>
        
  
       

<i class="icon ion-chevron-right icon-accessory"></i></div>

      
      </a> 
      
      <a class="item item-icon-right " ui-sref="project.visit">
     
  <div class="status-3">
        <h2 class="activite">CONTRÔLE DES FONDATIONS </h2>
        <p class="desc">FONDATIONS IMM C</p>
        
  
       

<i class="icon ion-chevron-right icon-accessory"></i></div>

      
      </a>
      <a class="item item-icon-right " ui-sref="project.visit">
     
  <div class="status-2">
        <h2 class="activite">CONTRÔLE DES FONDATIONS </h2>
        <p class="desc">FONDATIONS IMM C</p>
        
  
       

<i class="icon ion-chevron-right icon-accessory"></i></div>

      
      </a>
      


      </div>
      
      
  
  
  
    

  </ion-content>  
      
       <nav  mfb-menu position="br" effect="slidein" label="hover here"
         active-icon="ion-edit" resting-icon="ion-plus-round"
         toggling-method="click" class="cust-mfb-button">
      <button mfb-button icon="paper-airplane" label="menu item"></button>
      
    </nav>
</ion-view>
