<ion-view view-title="Détails Visite">
  <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7 cust-visite-header " >
      <div class="buttons cust-button-back">
        <a class="button ion-chevron-left" href="#/project/visits"> Back</a>
      </div>
    
    <div class="button-bar cust-visite-button-bar">
        <a class="button button-icon icon ion-trash-a"></a>
        <a class="button button-icon icon ion-edit"></a>
        <a class="button button-icon icon ion-paperclip"></a>
        <a class="button button-icon icon ion-email"></a>
      </div>
    
  </ion-header-bar>
  <ion-content class="has-header cust-visite-content" padding="true">


    <div class="list card cust-visite-list">
    <div class="item status-3"></div>
      <div class="item ref">AF1605021116</div>
      <h1 class="nom">CONTROLE DES TRAVAUX D'AMENAGEMENT DE LA PISTE D'EDUCATION A LA SECURITE ROUTIERE ET DE CONSTRUCTION DES BATIMENTS ANNEXES</h1>
      <div class="item activite">CONTRÔLE DES FONDATIONS<span class="item-note">13/05/2017</span></div>
      <p class="item desc item-text-wrap">Ionic cards are great way to display information in an organized way. Cards are used widely by the companies like google, twitter. </p>



<div>
    <div class="row cust-photos-grid">
    <div class="col col-50" ><img src="../../img/2.jpg" width="100%" height="100%" /></div>
    <div class="col col-50" ><img src="../../img/2.jpg" width="100%" height="100%" /></div>
    <div class="col col-50" ><img src="../../img/2.jpg" width="100%" height="100%" /></div>
    <div class="col col-50" ><img src="../../img/2.jpg" width="100%" height="100%" /></div>
</div>


</div>



   <div class="item item-avatar-left cust-resp" > <img src="../../img/mike.png">
        <p>Chef de projet</p>
        <h2>NQAIRI REDOUANE</h2>
      </div>

<div class="item status-3"></div>
      
      </div>






  </ion-content>

</ion-view>
