<ion-view view-title="About">
  <ion-header-bar align-title="left" class="bar-stable nav-title-slide-ios7">
    <div class="buttons">
      <a class="button ion-chevron-left" href="#/project/visits"> Back</a>
    </div>
    <div class="button-bar">
      <a class="button button-icon icon ion-trash-a"></a>
      <a class="button button-icon icon ion-edit"></a>
      <a class="button button-icon icon ion-paperclip"></a>
      <a class="button button-icon icon ion-email"></a>
    </div>

  </ion-header-bar>
  <ion-content class="has-header">
    <h2>A0229 CONSTRUCTION IMM S/SO - Visite chantier</h2>
    <p>Activité : CONTRÔLE DES PLANCHERS</p>
    <p><div class="user margin-right" style="background-image:url('img/max.png')"></div> BENNAN Mohammed</p>
    <p>Date de la visite : 25/03/2016 </p>
    <h1>Attachement</h1>
    <div class="list card">
      <div class="item item-image">
        <img src="img/1.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Supprimer
      </a>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/2.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Supprimer
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <img src="img/3.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Supprimer
      </a>
    </div>

  </ion-content>

</ion-view>
