
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.bg-t1{
	padding-top:50px;
	background: url(../img/bg-t1.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}
.cust-content-login{
	padding-top:0px;
	position: absolute;
  	top: 10%;
}
.cust-login-logo {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.cust-login-logo img{
	max-width:100%;
  	max-height:100%;
  	margin:auto;
 	display:block;
}
.cust-content-login .xtra{
	color:#FFF;
	font-size:13px;
	margin:0 auto;
	width:290px;
	text-align:center;
	letter-spacing:1px;
	padding-top:6px;
	
}
.cust-content-login .xtra a:link,
.cust-content-login .xtra a:visited{	
	color:#FFF;
	text-decoration:none;
}
.cust-content-login .xtra a.activated{
	text-decoration:underline;
	color:#FFF;
}

.cust-login-container .msg{
	background-color:#ffe6ec; 
	margin-top:10px; 
	padding:10px; 
	color:#333; 
	text-align:center

}


.cust-login-container{
	background-color:#694a83;
	padding:0px;
	max-width:300px;
	margin:0 auto;

}

.cust-login-form {
	margin:10px;
}
.cust-button-login button{
	background-color:#5cb85c;
	color:#FFF;
}
.cust-button-login button:hover,
.cust-button-login button.activated{
	background-color:#3b933b;
	color:#FFF;
}




ion-header-bar.cust-header {
/* 	background-color:#583574 !important; */
	background:none !important;
	color:#000 !important
}
ion-header-bar.cust-header-dark   {

	 background: rgba(0, 0, 0, 0.1) !important; 
}

.cust-header h1.cust-header-menu-title{
	font-size:.9em !important;
	color:#FFF;
	padding:0px !important;
	margin:0px !important;
	left:45px !important;
	text-transform:uppercase !important;
}
.cust-header h1.cust-header-back-title{
	font-size:.9em !important;
	color:#FFF;
	padding:0px !important;
	margin:0px !important;
	left:78px !important;
}

.cust-header h1.cust-header-title{
	font-size:.9em !important;
	color:#FFF;
	padding:0px !important;
	margin:0px !important;
	left:45px !important;
}

.cust-header .icon {
	color:#FFF !important;
}


.cust-menu-logos {
	width: 100%;
	height: 50px;
}
.cust-menu-logo  {
	width: 100%;
	height: 30px;

	background-image: url(../img/main-logo.png);
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom:30px;
}



.cust-menu-content {
	background: url(../img/bg-t6.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.cust-menu .list{
padding:0px;
margin:0px;
width:100%;
left:0px;
padding-top:10px;

}


.cust-menu .item{
	display:block;
	width:100%;
	background-color:transparent;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	border:none;
	font-weight:300;
	letter-spacing: 2px;
	color:#FFF !important;
	padding:0px;
	margin:0px;
	font-size:1.1em;
}


.cust-menu .item a,
.cust-menu .item a:link,
.cust-menu .item a:hover,
.cust-menu .item a:visited{
	text-decoration:none;
	color:#FFF;
	display:block;
	margin:0px;
	padding-top:10px;
	padding-bottom:10px;
}
.cust-menu .item a.activated,
.cust-menu .item a:hover {
	background-color:#452163 !important;
	border:none;
}

.cust-menu .item .icon{
	float:left;
	padding-left:20px;
	padding-right:12px;
}

.cust-projects-content{
	background-color:#f8f8f8;
	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
.cust-projects-content .list .item{
	background-color: rgba(255, 255, 255, 1);
	border-color:#8c9eda;	
}
.cust-projects-list{

}
.cust-projects-list .item-avatar{
	padding-left : 65px;
	padding-top:10px;
	padding-bottom:0px;
}
.cust-projects-list .item-icon-right{
	padding-right: 70px;

}
.cust-projects-list .icon{
	height:70px;
}
.cust-projects-list h1.nom{
	font-size:80%;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
	color:#633488;
	line-height:12px;
}
.cust-projects-list p.date{
	margin-bottom:0px;
	color:#a3a3a3 !important;
	line-height:12px;
	font-size:60%;
	letter-spacing:1px;
}
.cust-projects-list p.client{
	margin-bottom:10px;
	color:#000 !important;
	font-size:60%;
	letter-spacing:1px;	
	line-height:16px;
}

.cust-details-content{
	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
.cust-details-list{
	margin:0px;
	padding:0px;
	background-color:#FFF;
	margin-bottom:10px;

}
.cust-details-list .cust-resp {
	text-align:right
}
.cust-details-list .cust-h1-container{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../img/construction.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding:20px;

}
.cust-details-list .ref{
	text-align:center;
	padding:5px;
}
.cust-details-list h1.nom{

	font-size:1.3em;
	line-height:28px;
	display:inline;
    background-color:#FFF;
    color:#633687;
	box-shadow: 5px 0 0 #FFF, -10px 0 0 #FFF;
}
.cust-details-list h2.client{
	font-size: .9em;
	color: #000;
	max-width: 275px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.cust-details-list .budget{
	clear:both;
	text-align:center;
	background-image:url(../../img/bg-t2.jpg);
	color:#FFF;
	font-size:1.5em
}
.cust-details-list .delais{
	color:#000;
	font-size:1.2em;
	text-align:center
}
.cust-details-list .delais span.title{
	color:#542479 !important;
	font-size:.70em;

	line-height:20px;
	display:block;


}

.cust-details-list .adresse {
	border-width:0px;
	background-color:#5f5e60;
	border-top:1px solid #484749;
	padding:5px;
	padding-left:10px;
	color:#FFF !important;
	width:100%;
	display:inline-table
}
.cust-details-list .adresse .item-icon{
	width:50px;
	display:table-cell;
	font-size:50px;
	margin-left:10px;

	vertical-align:middle
}
.cust-details-list .adresse .loc{
	display:table-cell;

}
.cust-details-list .adresse p.ville{
	font-size: 1.1em;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.cust-details-list .adresse p.adr{
	font-size:.8em;
	margin:0px;
	padding:0px;
	line-height:15px;
}

.cust-details-list .cust-collab-avatar{
	padding-left : 65px;
}
.cust-details-list .cust-collab-avatar h2{
	padding-top : 8px;
}

.cust-visites-content{

	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.cust-visites-content .list .item{
	background-color: rgba(255, 255, 255, 0.5);
	border-color:#FFF;	
	padding:0px;
}
.cust-visites-list .item .icon{
	color:#583574 !important;
}
.cust-visites-list .status-1{
	border-left:15px solid #dbcae9;
	padding:8px;
}
.cust-visites-list .status-2{
	border-left:15px solid #82366b;
	padding:8px;
}
.cust-visites-list .status-3{
	border-left:15px solid #ada948;
	padding:8px;
}

.cust-visites-list a.activated {
	background-color:#f8f8f8;


}

.cust-visite-content{
	background-color:#f8f8f8;
	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}




.cust-visite-header {
	background-color:#583574 !important;
}

.cust-visites-list{
	background:none !important;
}

.cust-visites-list h2.activite{
	font-size:1.1em;
	color:#583574
}
.cust-visite-button-bar {
	max-width:200px;
	min-width:200px;	
	position:absolute;
	right:10px;	
	
}

.cust-visite-button-bar a::before {
	font-size:22px !important;
	color:#FFF !important
	

}
.cust-visite-content{
	background-color:#623387 !important;
}

.cust-visite-list{
	margin:0px;
	padding:0px;
	background-color:#FFF;
	margin-bottom:10px;

}
.cust-visite-list .ref{
	text-align:center;
	padding:5px;
}
.cust-visite-list h1.nom{
	font-size: .9em;
	color: #000;
	max-width: 275px;
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.cust-visite-list .activite{
	text-align:center;
	padding:5px;
	font-size:.9em;
	text-align:left;
	background-color:#eee;

}
.cust-visite-list .activite .item-note{
	color:#5b3777;
}
.cust-visite-list .desc{
	padding:15px;
	font-size:.95em;
	text-align:left;
	line-height:15px;
}
.cust-visite-list .status-1{
	background-color:#dbcae9;
	color:#FFF;
	color:#5b3777;
	text-align:center;

}

.cust-visite-list .status-2{
	background-color:#82366b;
	color:#FFF;
	font-size:1.5em;
	text-align:center;
}

.cust-visite-list .status-3{
	background-color:#ada948;
	color:#FFF;
	font-size:1.5em;
	text-align:center;
	padding:8px;

}
.cust-visite-list .cust-photos-grid{
	flex-wrap: wrap;
}
.cust-visite-list .cust-photos-grid .col{
	height:150px;
}




.cust-bar .button.button-icon:before, .cust-bar .button.button-icon.icon-right:before {
    vertical-align: top;
    font-size: 25px;
    line-height: 32px;
}

.cust-button-back .button,
.cust-button-back button {
/* 	background-color:#583574 !important; */
	background:none !important;
	border:1px solid #FFF;
	color:#FFF !important;
}

.cust-button-back .button.activated,
.cust-button-back button.activated {
/* 	background-color:#6a4a83 !important;
	color:#FFF !important; */
	background-color:#FFF !important;
	color:#7a85bd !important; 
}

.cust-button-back .button:after {
    position: relative;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
}

.cust-divider{
	overflow: initial;
    white-space: initial;
}

.cust-project-tab  {
	border: none !important;
}
.cust-project-tab .tab-nav {
	background-color:#FFF !important;
	border-top: 1px solid #91a4dc !important;
	background: none !important;
}


.cust-project-tab a,
.cust-project-tab a .icon {
	color:#FFF !important;

}
.cust-project-tab a.tab-item tab-item-active{
	border:none;
	margin:0px;
	color:#583574 !important;

}

.tabs-striped .tab-item.tab-item-active,
tab-item.activated{
	border-color:#5b3777
}


.my-slider span{
	font-size:13px;
}

.cust-mfb-button{
	margin-bottom:60px;
}

.cust-mfb-button a{
	background-color:#5b3777;
	color:#FFF !important;
}



.button-float{
  top: auto;
  left: auto;
  position: absolute;
  right: 16px;
  bottom: 56px;
  border-radius: 50%;
  width: 56px !important;
  height: 56px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
  z-index: 9999;
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  transition: transform 0.3s, box-shadow;
  max-height: initial;
  max-width: initial;
  background-color:#5b3777 !important;
}

.filter-bar .bar.bar-stable{
	background-color:#452163 !important;
	border:none;
	/* 	background-color:#694a83; */
}

.filter-bar .filter-bar-cancel {
	color:#FFF !important;
	font-size:12px !important;
	letter-spacing:1px;
}

.filter-bar .filter-bar-search {
	padding-left:0px;
	color:#452163 !important;
}

.filter-bar .icon{
	color:#452163 !important;
	padding-right:0px;
	
}
.cust-newvisit-modal{
	background-color:#623387; 
}

.cust-newvisit-modal .cust-cancel {
	color:#FFF !important;
	font-size:12px !important;
	letter-spacing:1px;
}

.cust-newvisite-content h1.prj{
	font-size:15px;
	margin:15px; 
	color:#FFF	
}

.cust-newvisite-content button{
	background-color:#5cb85c; 
	color:#FFF; 
	width:95%; 
	margin:0 auto; 
	margin-top:10px; 
	margin-bottom:10px;
}
 button.cust-button-newvisite:hover,
 button.cust-button-newvisite.activated{
	background-color:#3b933b;
	color:#FFF;
}


.cust-newvisite-content select{
	max-width: 100%;
	width: 100%;  
	position:relative; 
	position:absolute; 
	left:0px; 
	direction:ltr;
	font-size:14px;
	
}


.cust-newvisite-content select option.status-1{
	background-color:#dbcae9;
	color:#FFF	
}
.cust-newvisite-content select option.status-2{
	background-color:#82366b;	
	color:#FFF
}
.cust-newvisite-content select option.status-3{
	background-color:#ada948;
	color:#FFF	
}

.cust-newvisite-content input,
.cust-newvisite-content textarea,
.cust-newvisite-content input
{
	font-size:14px;
}


.cust-fiches-content{
	background-color:#f8f8f8;
	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
.cust-fiches-content .list .item{
	background-color: rgba(255, 255, 255, 0.5);
	border-color:#FFF;	
}
.cust-fiches-content h1.option{
	color:#585d8d !important;	
	padding:0px;
	margin:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:.7em !important;
} 
.cust-fiches-content .list .item p{
	color:#FFF !important;
}
.cust-fiches-content .list .item i{
	color:#FFF !important;
	font-size:1.2em
}


/* --------------------------- Start Custom Forme --------------------------- */

.cust-form-content .list .cust-item{
	background:none !important;
	border:none !important;
}


h1.cust-form-title{
	font-size:1.2em;
	text-align:center;
	color:#FFF;
	margin:10px 10px 10px 10px;
	padding:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
h2.cust-form-subtitle{
	font-size:.9em;
	text-align:center;
	font-weight:100;
	color:#FFF;
	margin:0px;
	padding:0px;	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.cust-form-content{
	background-color:#f8f8f8;
	color:#623387 !important;	
	background: url(../../img/bg-t5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}


.cust-form-content .header-item{
	background-color:#F60 !important;
} 



.cust-form-content .section
{
	border:none;
	width:100%;
	margin:0px;	
	text-align:left;
	background:none !important;
	color:#FFF;
	font-size:1em;
	text-transform:uppercase;
	padding:10px 22px 2px 15px; 
}
.cust-form-content .cust-inline{
	background: rgba(255, 255, 255, 0.3) !important; 
	border:none;
	color:#FFF !important;
	width:100%;
	text-align:left;
	border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  font-size:.9em;
}
.cust-form-content .cust-inline .item-note{
	color:#FFF !important;
}


.cust-form-content p.nrml{
	color:#623387 !important;
	font-size:.8em;
}

.cust-form-content .list .item-trans{
	background-color: rgba(255, 255, 255, 0.5);
	border-color:#FFF;
	
	
}

.cust-form-content .item-divider .title{
	color:#623387 !important;
	font-size:1em;
	text-align:center;	
}
.cust-form-content .cust-stacked-label {
	color:#adadad;

}

.cust-form-content .cust-stacked-label span {
	color: #999999;
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 2px;	
}


.cust-form-content .cust-stacked-label input,
.cust-form-content .cust-textarea
 {
	border-bottom:1px solid #FFF;
	font-size:1.1em;
	margin:0px;
	padding:0px;
	height:1.3em;
	background:none !important;
	width:100%;
	color:#FFF !important;
	padding-bottom:.5em;
}



.cust-form-content .cust-textarea
{
  width:100%;  
  background:none !important;
  min-height:6em;
  resize:none;
  font-size:.8em
}

.cust-form-content .cust-stacked-label input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4a577e;
}
.cust-form-content .cust-stacked-label input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4a577e;
   opacity:  1;
}
.cust-form-content .cust-stacked-label input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4a577e;
   opacity:  1;
}
.cust-form-content .cust-stacked-label input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4a577e;
}

.cust-form-content .cust-stacked-c-title {
	color:#adadad;
	margin:0px;
	padding:0px;
	font-size:.8em;
}
.cust-form-content .cust-stacked-c-text{
	color:#623387 !important;
	font-size:.8em;
	margin:0px;
	padding:0px;
}

.cust-form-content .cust-stacked-c-title-large {
	color:#adadad;
	margin:0px;
	padding:0px;
	font-size:1em;
}
.cust-form-content .cust-stacked-c-text-large{
	color:#623387 !important;
	font-size:1.1em;
	margin:0px;
	padding:0px;
}






.cust-form-content ul.cust-list{
	font-size:.8em; 
	line-height:1.1em; 
	padding:5px;
	color:#623387 !important;

}

.cust-form-content ul.cust-list li{
	list-style:disc;
	margin:10px 10px 10px 20px;	
}


.cust-button-block{
	background-color:#d5c6e1 !important;
	color:#623387 !important;	
}
.cust-button-block.activated{
	background-color:#623387 !important;
	color:#FFF !important;	
}

/* ---------------------------- End Custom Forme --------------------------- */

/* ---------------------------- Start According list --------------------------- */


/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.accordion-header {
	font-size:.8em;	
	color:#623387;	
	text-transform:uppercase;	
	background-color: rgba(255, 255, 255, 0.5);
	border-color:#FFF;
	border:none !important; 
	border-bottom:#8f9ad9 solid 1px !important;
	 margin: 0px;
}
.list .item.item-accordion .icon{
	color:#FFF !important;
	background:none !important;
}

.list .item.item-accordion.accordion-content {
	font-size:.9em;	
	 background-color: rgba(98, 51, 135, .2);
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;     
	border:none !important;
	padding:0px;  
}
.list .item.item-accordion.accordion-content .radio-content {
	background:none;
	color:#FFF;
	font-size:.8em;
}
.list .item-accordion.accordion-content .item-content{
	background-color: rgba(255, 255, 255, 0.1);
	border:none !important;
}

.list .item-accordion.accordion-content .item-radio{
	background:none;
	border:none !important;
}
.list .item-accordion.accordion-content .item-radio input:checked + .radio-content .item-content{
	background-color: rgba(255, 255, 255, 0.4);
	border:none !important;
}

.list .item.item-accordion.accordion-content .ion-checkmark {
	color:#7779be !important;
	font-size:1.3em !important;	
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
  
}
.list .item.item-accordion.active {
/*   background-color:#623387 !important; */
  background-color: rgba(98, 51, 135, .3);
  color:#FFF;	
}
.list .item.item-accordion i{
	color:#333 !important;
	font-size:.7em;	
}
.list .item.item-accordion.active i{
  color:#FFF !important;	
}
/* ---------------------------- End According list --------------------------- */

/* ---------------------------- Start Slider --------------------------- */
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 10px;
  color: #000;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
/* ---------------------------- End Slider --------------------------- */